@font-face {
  font-family: "iconfont"; /* Project id 3522056 */
  src: url('iconfont.woff2?t=1659077946927') format('woff2'),
       url('iconfont.woff?t=1659077946927') format('woff'),
       url('iconfont.ttf?t=1659077946927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaping-xianxing:before {
  content: "\e7d5";
}

.icon-pinglun2:before {
  content: "\e600";
}

.icon-fenxiang1:before {
  content: "\e602";
}

.icon-chaping:before {
  content: "\e7d4";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-qiehuanlie:before {
  content: "\e613";
}

.icon-pinglun1:before {
  content: "\e60f";
}

.icon-shuoming:before {
  content: "\e628";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-brightj2:before {
  content: "\e685";
}

.icon-pinglun:before {
  content: "\e687";
}

.icon-shezhi1:before {
  content: "\e605";
}

.icon-fenlei:before {
  content: "\e616";
}

.icon-mulu:before {
  content: "\e651";
}

.icon-sousuo_o:before {
  content: "\eb86";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-manmanka:before {
  content: "\e667";
}

.icon-vip:before {
  content: "\e6c3";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-shouye:before {
  content: "\e618";
}

.icon-kefufenxiermaikefu:before {
  content: "\e889";
}

.icon-fankui:before {
  content: "\e60c";
}

.icon-baohumoshi:before {
  content: "\e63a";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-duanxin:before {
  content: "\e64e";
}

.icon-pifugexinghuazhuti-xianxing:before {
  content: "\e7e8";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-jiantouxia:before {
  content: "\e630";
}

.icon-jiantoushang:before {
  content: "\e62f";
}

.icon-jiantouzuo:before {
  content: "\e620";
}

.icon-shuaxin:before {
  content: "\e62e";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

